fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart
pytest
httpx
python-dotenv
aiofiles
sqlalchemy>=2.0.23
alembic>=1.12.1
psycopg2-binary>=2.9.9
PyJWT>=2.8.0
bcrypt>=4.0.1

gunicorn>=21.2.0

email-validator>=2.0.0
celery==5.3.1
redis==5.0.0
beautifulsoup4==4.12.2
